.AddContainer {
  background-color: #8e9;
  width: 50%;
  padding: 30px;
  border-radius: 2rem;
  padding: auto;
  margin: auto;
}
/* 
input[type='text']:focus {
  background-color: lightblue;
} */
.AddContainer:hover {
  box-shadow: 0 8px 16px 0 #fdf092, 0 6px 20px 0 #fdf092;
}

.button1 {
  background-color: #4caf50; /* Green */
  border: none;
  color: #f9f9f9;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #f9f9f9;
  color: black;
  border: 2px solid #4caf50;
}

.button1:hover {
  background-color: #4caf50;
  color: black;
}
input {
  width: 30%;
}
