@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=PT+Sans:wght@700&family=Roboto+Mono&family=Roboto:wght@100&family=Space+Mono&family=Truculenta:opsz,wght@12..72,100&display=swap');
.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1024px;
  font-family: 'Space Mono', monospace;
   color: #3a3a82;
}

.logo {
  margin-bottom: 20px;
  font-size: x-large;
}

.pageTitle {
  margin: 0;
  line-height: 50px;
  font-size: 30px;

}

.nav {
  display: flex;
  line-height: 80px;
}

.navLink {
  text-decoration: none;
  padding: 0 15px;
  font-size: 18px;
  border-radius: 15px;
}

.navLink:hover {
  background-color: #f8623f
}
.logo{
  width:10%;
margin: 0;
padding-left:10%;
cursor: pointer;
}